{:org.httpkit.server/config       {:port 3000}

 :com.fulcrologic.rad.database-adapters.datomic/databases
  {:main {:datomic/schema  :production
          :datomic/client  {:server-type :dev-local
                            :storage-dir :mem
                            :system      "dev"}
          :datomic/database "todos"
          }}

 :ring.middleware/defaults-config                  {:params    {:keywordize true
                                                                :multipart  true
                                                                :nested     true
                                                                :urlencoded true}
                                                    :cookies   true
                                                    :responses {:absolute-redirects     true
                                                                :content-types          true
                                                                :default-charset        "utf-8"
                                                                :not-modified-responses true}
                                                    :session   true
                                                    :static    {:resources "public"}
                                                    :security  {:anti-forgery   false
                                                                :hsts           true
                                                                :ssl-redirect   false
                                                                :frame-options  :sameorigin
                                                                :xss-protection {:enable? true
                                                                                 :mode    :block}}}

}